<h1 class="header">Criar uma conta de Confessor</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="registerForm" (submit)="tryRegister()">
                <div class="form-group">
                    <label>Endereço de email</label>
                    <input type="email" formControlName="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Palavra Passe</label>
                    <input type="password" class="form-control" formControlName="password">
                    <label class="error">{{errorMessage}}</label>
                    <label class="success">{{successMessage}}</label>
                </div>
                <button type="submit" class="btn btn-outline-primary">Registar-se</button>
            </form>
            <div class="button-container">
                <button type="button" class="btn btn-danger" (click)="tryGoogleLogin()">Entrar com o Gmail</button>
                <p>Já tem uma conta? <a [routerLink]="['/login']">Login</a></p>
            </div>
        </div>
    </div>
</div>